@use "../../styles/abstracts/index" as *;

.sectionContainer {
  display: grid;
  grid-template-areas: "content";

  & > * {
    grid-area: content;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-inline: rem(32px);
  width: 100%;

  @include breakpoint(md) {
    padding-inline: rem(58px);
  }

  @include breakpoint(lg) {
    padding-inline: rem(190px);
  }
}

.heading {
  color: var(--clr-white);

  &:not(:has(~ .paragraph)) {
    padding-bottom: rem(32px);
  }
}

.carouselHeading {
  font-size: rem(48px);

  @include breakpoint(sm) {
    font-size: rem(80px);
  }
}

.paragraph {
  color: var(--clr-white);
  max-width: 44ch;
  padding-top: 1rem;
  padding-bottom: rem(56px);

  @include breakpoint(sm) {
    max-width: 40ch;
  }
}

.imageContainer {
  position: relative;
  z-index: -1;
  min-height: rem(560px);

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: hsl(0, 0%, 0%);
    opacity: 0.5;
    top: 0;
    width: 100%;
  }

  picture {
    position: relative;
    min-height: rem(560px);
  }

  img {
    object-fit: cover;
  }
}

.carouselItem {
  &::after {
    opacity: 0.35;
  }

  picture {
    @include breakpoint(sm) {
      min-height: rem(720px);
    }
  }
}
