@use "../../styles/abstracts/mixins" as mixin;
@use "../../styles/abstracts/functions" as *;

.btn {
  --transition: 0.2s ease;
  --background-color: var(--clr-dark-blue);
  --text-color: var(--clr-white);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: rem(24px);
  // font-size: rem(15px);
  font-size: 1rem;
  font-weight: 700;
  padding: rem(24px) rem(32px);
  text-transform: capitalize;
  transition: var(--transition);
  width: max-content;

  img {
    transition: var(--transition);
  }

  &:hover {
    --background-color: var(--clr-dark-gray);

    img {
      transform: translateX(4px);
    }
  }

  &:active {
    --background-color: var(--clr-light-gray);
  }
}

.light {
  --background-color: var(--clr-white);
  --text-color: var(--clr-medium-gray);

  &:hover {
    --background-color: var(--clr-very-light-gray);
  }

  &:active {
    --background-color: var(--clr-dark-blue);
    --text-color: var(--clr-white);
  }
}
