@use "../../styles/abstracts/index" as *;

.teamSection {
  --bottom-spacing: #{rem(132px)};

  @include breakpoint(sm) {
    --bottom-spacing: #{rem(200px)};
  }

  @include breakpoint(md) {
    --bottom-spacing: #{rem(160px)};
    display: flex;
    gap: 5%;
  }
}

.headingContainer {
  @include breakpoint(md) {
    flex: 1;
  }
}

.heading {
  padding-bottom: rem(64px);
}

.teamGrid {
  display: grid;
  grid-column-gap: rem(40px);
  grid-row-gap: rem(64px);

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}
