@use "../../../styles/abstracts/index" as *;

.formContentWrapper {
  @include breakpoint(md) {
    display: flex;
    gap: 8%;
  }
}

.formSection {
  padding-bottom: rem(132px);

  @include breakpoint(sm) {
    padding-bottom: rem(200px);
  }

  h2 {
    max-width: 8ch;
    padding-bottom: rem(24px);

    @include breakpoint(sm) {
      max-width: unset;
    }

    @include breakpoint(md) {
      flex-basis: 30%;
    }
  }
}

.form {
  @include breakpoint(md) {
    flex: 1;
  }

  button {
    margin-left: auto;
    transform: translateY(-9px);
    @include breakpoint(md) {
    }
  }
}

.formField {
  position: relative;

  &::after {
    bottom: 0;
    background-color: var(--clr-dark-blue);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    opacity: 0;
    width: 100%;
  }

  &:has(textarea) {
    &::after {
      bottom: 5px;
    }
  }

  &:has(input:focus, textarea:focus) {
    &::after {
      opacity: 1;
    }
  }

  &:has(.errorText) {
    label {
      color: var(--clr-red);
      opacity: 0.5;
    }
  }

  label {
    color: var(--clr-light-gray);
    font-weight: 700;
    letter-spacing: -0.016em;
    position: absolute;
    left: rem(35px);
    top: rem(40px);

    &.active {
      opacity: 0;
    }
  }

  input,
  textarea {
    color: var(--clr-dark-blue);
    font-weight: 700;
    border: none;
    border-bottom: 1px solid;
    padding-block: rem(40px) rem(24px);
    padding-inline: rem(35px) rem(16px);
    width: 100% !important;

    &.error {
      border-bottom-color: var(--clr-red);
    }
  }

  textarea {
    resize: none;
  }
}

.errorText {
  color: var(--clr-red);
  font-weight: 700;
  inset-block: rem(40px) rem(24px);
  pointer-events: none;
  position: absolute;
  right: 0;
}

.successMessage {
  font-size: rem(18px);
  display: flex;
  justify-content: center;
  min-height: rem(374px);
  width: 80%;

  @include breakpoint(md) {
    text-align: center;
    margin-inline: auto;
  }
}
