@use "../../../styles/abstracts/index" as *;

.title {
  --title-color: transparent;
  color: var(--title-color);
  display: flex;
  align-items: center;
  font-size: rem(18px);
  letter-spacing: 1em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-top: rem(162px);
  position: fixed;
  text-transform: uppercase;
  top: 0;
  z-index: -1;

  @include breakpoint(xl) {
    --title-color: var(--clr-light-gray);
    transform: translateX(rem(-80px));
  }

  &::before {
    background-color: var(--title-color);
    content: "";
    position: absolute;
    height: rem(104px);
    top: 0;
    width: 1px;
  }
}
