@use "../../../styles/abstracts/index" as *;

.detailsWrapper {
  @include breakpoint(sm) {
    display: flex;
    justify-content: space-between;
  }

  @include breakpoint(md) {
    flex-direction: column;
  }
}

.office {
  padding-bottom: rem(8px);
}

.detail {
  color: var(--clr-dark-gray);
  display: flex;
  gap: 4px;
}

.link {
  color: var(--clr-dark-blue);
  display: flex;
  align-items: center;
  gap: rem(24px);
  font-size: rem(18px);
  font-weight: 700;
  padding-top: rem(16px);
  text-decoration: underline transparent;
  transition: text-decoration var(--transition);

  &:hover {
    text-decoration-color: var(--clr-dark-blue);

    .arrow {
      text-decoration: none;
      transform: translateX(5px);
    }
  }
}

.arrow {
  filter: invert(1) brightness(0);
  transition: var(--transition);
}
