@use "../styles/abstracts/index" as *;

.carouselSection {
  @include breakpoint(sm) {
    padding-bottom: rem(100px);
  }

  @include breakpoint(md) {
    padding-bottom: rem(150px);
  }

  &:has(+ :global.decorative-line) {
    + :global.decorative-line {
      &::before {
        @include breakpoint(sm) {
          content: unset;
        }
      }
    }
  }
}
