@use "../styles/abstracts/index" as *;

.carouselSection {
  @include breakpoint(sm) {
    padding-bottom: rem(100px);
  }

  @include breakpoint(md) {
    padding-bottom: rem(150px);
  }

  &:has(+ :global.decorativeLine) {
    + :global.decorativeLine {
      &::before {
        @include breakpoint(sm) {
          content: unset;
        }
      }
    }
  }
}

.featuredSection {
  display: grid;
  gap: rem(24px);
  padding-bottom: rem(132px);

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "heading button" "cards cards";
    gap: rem(84px);
    padding-bottom: rem(200px);
  }

  @include breakpoint(sm) {
    gap: rem(64px);
  }

  h2 {
    padding-bottom: rem(24px);

    @include breakpoint(sm) {
      align-self: center;
      grid-area: heading;
      padding-bottom: 0;
    }
  }
}

.featuredButton {
  justify-content: center;
  width: 100%;

  @include breakpoint(sm) {
    grid-area: button;
    justify-self: flex-end;
    width: max-content;
  }
}

.featuredCardsContainer {
  display: grid;
  gap: rem(24px);

  @include breakpoint(sm) {
    grid-area: cards;
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30px);
  }
}
