@use "../../ui/Button/Button.module.scss" as btn;
@use "../../../styles/abstracts/index" as *;

.carouselWrapper {
  --width: 100%;
  position: relative;

  @include breakpoint(sm) {
    --width: 90%;
  }
}

.homeHeroHeading {
  position: absolute;

  @include breakpoint(sm) {
    bottom: rem(-252px);
    z-index: 2;
  }

  @include breakpoint(md) {
    bottom: rem(-338px);
  }
}

.paginationCustom:global(.swiper-pagination-bullets) {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;

  @include breakpoint(md) {
    bottom: 0;
    gap: 0;
    justify-content: left;
  }

  @include breakpoint(xl) {
    left: rem(-80px);
  }
}

.bulletButton:global(.swiper-pagination-bullet) {
  position: relative;
  background-color: var(--clr-white);
  opacity: 0.5;
  padding: 6px;
  position: relative;
  width: 1rem;
  height: 1rem;
  display: grid;
  place-items: center;
  margin: 0 !important;
  transition: var(--transition);
  z-index: 2;

  &:hover {
    background-color: var(--clr-light-gray);
  }

  @include breakpoint(md) {
    @include btn.button-styles;
    --background-color: var(--clr-white);
    counter-increment: step-counter;
    position: relative;
    border-radius: 0;
    width: rem(80px);
    height: rem(80px);
    opacity: 1;
    z-index: 3;

    &::before {
      content: "0" counter(step-counter);
      color: var(--clr-medium-gray);
      position: absolute;
      left: 0;
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: var(--clr-very-light-gray);
    }
  }
}

.activeButton:global(.swiper-pagination-bullet-active) {
  background-color: var(--clr-white) !important;
  opacity: 1;

  &::before {
    color: var(--clr-white);
    background-color: var(--clr-dark-blue);
  }
}
