@use "../../styles/abstracts/index" as *;

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: rem(32px);

  &::before {
    background-color: hsl(0, 0%, 0%);
    content: "";
    height: 100vh;
    right: -100vw;
    position: fixed;
    opacity: 0;
    top: rem(96px);
    transition: opacity 400ms ease;
    width: 100vw;
    z-index: 3;

    @include breakpoint(sm) {
      content: unset;
    }
  }

  @include breakpoint(sm) {
    justify-content: unset;
    gap: min(10%, rem(95px));
    padding-block: rem(56px);
  }

  &:has(.active) {
    &::before {
      opacity: 0.75;
      right: 0;
    }
  }
}

.headerLogo {
  display: flex;
  align-items: center;
}

.burgerBtn {
  @include breakpoint(sm) {
    display: none;
  }
}

.navListContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 90%;
  top: rem(96px);
  right: -90vw;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background-color: var(--clr-very-light-gray);
  padding: rem(36px) rem(48px);
  z-index: 4;

  @include breakpoint(sm) {
    position: initial;
    flex-direction: row;
    background-color: var(--clr-white);
    overflow: unset;
    width: unset;
    padding: unset;
    gap: rem(32px);
    align-items: center;
  }
}

.active {
  right: 0;
}

.menuLink {
  display: block;
  color: var(--clr-medium-gray);
  font-weight: 700;
  padding-block: rem(12px);
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--clr-dark-blue);
  }
}
