@use "../../styles/abstracts/index" as *;

.contentWrapper {
  padding-top: rem(74px);

  &::before {
    top: 0;
  }

  @include breakpoint(md) {
    display: flex;
    gap: 8%;
  }

  h2 {
    padding-bottom: rem(48px);

    @include breakpoint(md) {
      flex-basis: 30%;
    }
  }
}

.detailsGrid {
  display: grid;
  gap: rem(48px);

  @include breakpoint(md) {
    flex: 1;
    grid-template-columns: repeat(2, 1fr);
  }
}
